<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2a81b076-75c8-44bb-9688-8536d72d8190/resourcegroups/rg-nams/providers/Microsoft.Web/sites/NewspaperAdvertisementManagementSystem</ResourceId>
    <ResourceGroup>rg-nams</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://newspaperadvertisementmanagementsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3e3ccd42-c710-48cd-9e06-8a67e792a5df</ProjectGuid>
    <PublishUrl>https://newspaperadvertisementmanagementsystem.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NewspaperAdvertisementManagementSystem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>